/*======================================================TOOLBAR ========================================================================*/
.toptoolbar {
    height: 52px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e5e6eb;
    left: 0;
    top: 0;
    display: flex;
    color: white;
    align-items: center;
    padding: 8px;
}
/*=============================Nút thao tác có lựa chọn===========================*/
.toolbar-detail-button {
    height: 100%;
    width: auto;
    border: 1px solid #026b97;
    border-radius: 3px;
    margin-right: 8px;
    cursor: pointer;
    white-space: nowrap;
    color: #026b97;
}

    .toolbar-detail-button:hover {
        color: #3cbced;
    }

.toolbar-detail-button-content {
    height: 100%;
    padding: 7px;
    align-items: center;
    display: flex;
}

.toolbar-detail-button-icon {
    height: 16px;
    width: 16px;
    margin-right: 3px;
    background-image: url('/Contents/Images/ImgToolbar/common-icon.png');
    background-repeat: no-repeat;
}
/*Gán icon cho các nút*/
.toolbar-icon-add {
    background-position: -327px -127px;
}

.toolbar-icon-saveduplicate {
    background-position: -952px -127px;
}

.toolbar-icon-saveadd {
    background-position: -26px -127px;
}

.toolbar-icon-cancel {
    background-position: -252px -127px;
}

.toolbar-detail-button-text {
    padding: 0px 5px;
    font-size: 12px;
    font-weight: 600;
}
/*Định dạng lại cho nút Lưu*/
.first-button {
    background-color: #026b97;
    margin-left: 4px;
}

    .first-button:hover {
        background-color: #1882ae;
    }

.first-button-text {
    color: white !important;
}
/**/
.last-button {
    border: 1px solid white;
}

    .last-button:hover {
        border: 1px solid #026b97;
        color: #026b97;
    }
/*=============================Nút thao tác có lựa chọn===========================*/
/*.toolbar-detail-button {
    height: 100%;
    cursor: pointer;
}

    .toolbar-detail-button:hover {
    }

.toolbar-detail-button-option {
    height: 100%;
    background-color: #026b97;
    white-space: nowrap;
    display: flex;
    padding: 0px 7px;
    align-items: center;
    cursor: pointer;
}

    .toolbar-detail-button-option:hover {
        background-color: #0088c2;
    }

    .toolbar-detail-button-option {
        color:white !important;
    }

.toolbar-detail-button-option-link {
    width: 100%;
    display: flex;
    background-image: url('/Contents/Images/ImgToolbar/arrow-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position: calc(100% - 4px);
}

.toolbar-detail-button-slipbutton {
    padding-right: 7px;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    align-content: center;
}

/*Phần icon cho button*/
.toolbar-slipbutton-icon {
    height: 16px;
    width: 16px;
    margin-right: 3px;
    background-image: url('/Contents/Images/ImgToolbar/common-icon.png');
    background-repeat: no-repeat;
}
/*Gán lại hình ảnh cho từng button*/
.toolbar-btn-icon-add {
    background-position: -1px -127px;
}

.toolbar-btn-icon-duplicate {
    background-position: -976px -127px;
}

.toolbar-btn-icon-edit {
    background-position: -77px -203px;
}

.toolbar-btn-icon-delete {
    background-position: -1076px -127px;
}

.toolbar-btn-icon-refresh {
    background-position: -876px -127px;
}

.toolbar-btn-icon-import {
    background-position: -177px -127px;
}

.toolbar-btn-icon-export {
    background-position: -127px -127px;
}

.toolbar-btn-icon-tem {
    background-position: -27px -50px;
}
/*Phần chữ trong button*/
.toolbar-slipbutton-text {
    height: 15px;
    padding: 0px 5px;
    margin-top: -3px;
}
/*Phần hiển thị combobox*/
.toolbar-detail-button-slipoption {
    height: 100%;
    padding-left: 7px;
    width: 20px;
}
/*============================== Nút thao tác không có lựa chọn =================================*/
/*Custom lại nút từ có option thành không có option*/
.btn-noneoption {
    padding-right: 0px !important;
}

.btn_link_noneimage {
    background-image: none;
}
/*============================== Dấu xổ ngăn cách =================================*/
.toolbar-separator {
    width: 1px;
    height: 32px;
    margin-left: 1px;
    border-right: 1px solid #1882ae;
}

.toolbar-separator-nonemargin {
    margin-left: 0px !important;
}
