body {
    font-size: 13px;
    font-family: 'Roboto',Tahoma,sans-serif;
    min-width: 1024px;
}
/*Header*/
.header {
    height: 52px;
    width: 100%;
    position: absolute;
    top: 0px;
    display: flex;
}
/*Sidebar*/
.sidebar {
    background-color: #026b97;
    width: 140px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 52px;
}
/*Content*/
.content {
    position: absolute;
    padding: 8px;
    float: right;
    left: 140px;
    top: 52px;
    bottom: 0px;
    right: 0px;
    background-color: #e5e6eb;
    padding: 8px;
    border-top: 1px solid #e5e6eb;
}
/*Phần progess hiển thị khi thao tác dữ liệu*/
.progess-reload {
    height: 70px;
    width: 150px;
    display: flex;
    align-items: center;
    background-color: #cfd3c9;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url('/Contents/Images/ImgContent/loading.gif');
    background-repeat: no-repeat;
    background-position: 66px 15px;
}

.progess-reload-text {
    display: flex;
    justify-content: center;
    color: #212121;
    margin-top: 35px;
}
/**/
.progess-loading {
    height: 50px;
    width: 30px;
    display: flex;
    align-items: center;
    background-color: #cfd3c9;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url('/Contents/Images/ImgContent/loading.gif');
    background-repeat: no-repeat;
    background-position: 7px 15px;
}

.progess-loading-text {
    display: flex;
    justify-content: center;
    color: #212121;
    margin-top: 25px;
}

